<!-- TODO: 

  1. Get the button centerd in the screen
  2. Fix it so the values are not hard coded
  3. Welcome the user in the top right side of the screen
      Say: Welcome "USERNAME"
     Then change the login button to a logout button so make the text dyanmic
  4. Add on hover for the button
  5. Make the background color white

-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mainpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mainpage</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Puts the login button on the top right conor of the screen -->

  <!-- Have a div that fills the upper right of the screen -->
  <div class = "relative h-32 w-100 bg-red-600">
    
    <div class = "relative h-32 w-32">
      <div class = "absolute top-0 right-200 h-16 w-16">

        <div class = "grid grid-flow-row auto-rows-max">

          <div class = "row-span-20">  
            <button class = "bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-xl postion absolute">Login</button>          
          </div>

          <div class = "col-span-20" style = "padding-top:50px;">
            <button class = "bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-xl postion absolute">Infromation</button>
          </div>

      
        </div>        
      </div> 
    </div> 
  </div> 

  <!-- Just shows a text and explaning what it is -->
  <!-- Maybe have it over lapped with the header just a little-->
  <div class="bg-teal-50 text-black flex flex-row justify-center items-center min-w-18 mx-20%" style = "margin:5%; padding-left:20px;">
    
    Bloomsburg Univerity Sun App
    <br>
    

    This will explain what this is and how to use it, but right now this is just filler text to make this website look better. Hopefully, this will look much better later on. 
</div>



  <!-- Will hold the following button that will take to a new page:
    View Graphs
    Move Solar Panel
    Azimuth Diagram
  -->
  <div>
    <div class = "grid grid flow-row-dense grid-cols-3 grid-rows-1 h-60" style = "padding:10px;">
    
        <!-- These images are just place holders until we get better pictures -->
        <button class = "font-bold text-black" style = "background: rgb(211,211,211);">View Graphs</button>

        <button class = "bg-stlate-800 font-bold h-70 text-black" style = "background: rgb(222,203,52);
        background: radial-gradient(circle, rgba(222,203,52,1) 31%, rgba(248,223,11,1) 43%, 
        rgba(83,79,45,1) 70%, rgba(8,8,8,1) 100%);">Azimuth Diagram</button>

        <button class = "bg-stlate-800 text-black font-bold" style = "background: rgba(211,211,211,1);" >Move Solar Panel</button>

    </div>  
  </div>  <br> <br> <br>

  <!--
    Holds information to view the following:
      High/Low temp
      Rain
      Watts
      Wind
    This information will be displayed in the labels. With buttons to view current/hour/day/week/month
  -->

  <!-- Make this dynamic -->
  <div class = "text-5xl text-slate-950 ">
    Past 7-days 
  </div> 

  <div class = "grid grid flow-row-dense grid-cols-4 grid-rows-1 h-60" style="padding:8px; margin:2px">

    <div class = "border-solid border-2 border-amber-500 "> 
      <p class = "text-center text-bold text-2xl text-slate-950 ">
        Temperature
        <br> <br>
        High: 60F <br>
        Low: 24F
      </p> 
    </div>

    <div class = "border-solid border-2 border-amber-500"> 
      <p class = "text-center text-bold text-2xl  text-slate-950">
        Total Rain Fall
        <br> <br>
        5-inches <br>
        
      </p> 


    </div>  

    <div class = "border-solid border-2 border-amber-500">

      <p class = "text-center text-bold text-2xl text-slate-950">
        Solar Pannel Power
        <br> <br>
        Max: 43 W <br>
        Low: 23 W
      </p> 

    </div>  

   <div class = "border-solid border-2 border-amber-500">
     <p class = "text-center text-bold text-2xl text-slate-950">
      Wind Speed
      <br> <br>
      Max: 14 MPH <br>
      Avg: 2 MPH
    </p> 
   </div>
  </div>  

  <!-- Put this all into a button grid -->
  <div class="grid grid-cols-6 grid-rows-3" style="padding: 8px; margin: 2px">
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute"><---</button>
  
    <button class="h-4 px-4 m-2 text-sm" style="top: 50%; left: 50%;"></button>
    <button class="bg-yellow-400 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"></button>
    <button class="bg-yellow-400 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"></button>
    <button class="bg-yellow-400 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"></button>

  
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute">---></button>
  </div>
  


  <br> <br><br> <br>


  <!-- This is only for dev purposes -->
  <div>
    <p> 
      This is only for dev purposes
    </p>  

    <div name = "willDiv" id="willDiv" class ="text-black">Sun Altitude: {{altitude}} Sun Azimuth: {{azimuth}} </div>

    <input type="text" placeholder="Enter User ID" class = "text-black" [(ngModel)]="id" value ="id"/>
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"(click) = "findUser()">Get User</button>
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"(click) = "getRandomNumbers()">Will's button number one</button>
    <input type="text" id="lat" [(ngModel)]="lat" class="text-black"/>
    <input type="text" id="long" [(ngModel)]="long" class="text-black"/>
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"(click) = "sendLatLong()">Send Lat Long</button>
    <div class = "text-black">FirstName:{{firstName}}  LastName:{{lastName}}</div>
    
    <!-- <ol>
      <li *ngFor ="let num of randomNumbers" class="text-black">
        {{num}}
      </li>
    </ol> -->

  </div>  

</ion-content>


