<html ng-app="ionicMakanan">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Menu</title>
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script scr="//code.ionicframework.com/nightly/css/ionic.bundle.js"></script>
  </head> 


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>viewAzimuth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">viewAzimuth</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Azimuth canvas -->
  <ion-row class="ion-margin-top ">
    <ion-col>   
      <canvas id="azimuth" style="border:1px solid #000000;"></canvas>
    </ion-col>
  </ion-row>

  <div class = "flex flex-col items-center bg-zinc-200" style = "border:black; margin-left:5%; margin-right:5%; border:1px solid black; ">

  <!-- The drop down menu 
  TODO: Make classes
  -->
  <ion-row class="ion-margin-top" style = "display:flex; justify-content:center;  ">
    <ion-col size="12">
      <button ion-button full round (click)="ngIfCtrl1()" class="text-slate-900 hover:bg-neutral-50 bg-black-900 h-12 px-6 rounded-xl " style="font-weight:bold;">What is an Azimuth Diagram?</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hide1" class="ion-margin-top">
    <ion-col size="12" class = "bg-zinc-200" style = "padding:10px;">
      <ion-label class="text-slate-900">An azimuth is the angular measurement in a spherical coordinate system which represents the horizontal angle from a cardinal direction.</ion-label>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12">
      <button ion-button full round (click)="ngIfCtrl2()" class="text-slate-900 hover:bg-neutral-50 bg-black-900 h-12 px-6 rounded-xl " style="font-weight:bold;">How to read it</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hide2" class="ion-margin-top">
    <ion-col size="12" class = "bg-zinc-200" style = "padding:10px;">
      <ion-label class="text-slate-900">The sphere is the sun and the yellow line is the way the sun is going</ion-label>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12">
      <button ion-button full round (click)="ngIfCtrl3()" class="text-slate-900 hover:bg-neutral-50 bg-black-900 h-12 px-6 rounded-xl " style="font-weight:bold;">What this map mean</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hide3" class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12" class = "bg-zinc-200" style = "padding:10px;">
      <ion-label class="text-slate-900">This map shows the solar panel system located at Bloomsburg University between Ben Franklin Hall and Hartline Science Center, <br> which is also right off of Laubach Drive. This shows you where the sun is at the current time.</ion-label>
    </ion-col>
  </ion-row>

</div>
  


 

</ion-content>


