<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" style ="display: flex; flex-direction:column;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">moveSolarPanel</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class = "topnav">
    <a class = "active" href ="#home">Home</a>
    <a href = "move-solar-panel.page.html">Move Solar Panel</a>
    <a href = "view-graph.page.html">View Graph</a>
    <a href = "">About</a>
    <a href = "">Contact</a>
    <a href = "">Sign In / Logout</a>
  </div>

  <div style = "color:black; padding-top:3%; font-size:42px;" class= "flex justify-center items-center" >
    Move solar pannel
  </div>


  <ion-grid>
    <ion-row >
      <ion-col class= "flex justify-center items-center"> <div style = "color:black;">Azimuth Canvas </div> </ion-col>
      <ion-col class= "flex justify-center items-center"> <div style = "color:black;">Elevation Canvas</div> </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class= "flex justify-center items-center">
         <canvas id="azimuth-canvas" width="300" height="300"></canvas>
      </ion-col>
      <ion-col class= "flex justify-center items-center">
        <canvas id="elevation-canvas" width="300" height="300"></canvas>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col class = "flex justify-center items-center">
        <button class = "w-20 h-20" [disabled] = "isDisabled" style = "background-color: #6F263D; color:#F3CF3E;" (click) = "movePanel($event)">Up</button>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col class = "flex justify-center items-center">
        <button class = "w-20 h-20"  [disabled] = "isDisabled" style = "background-color: #6F263D; color:#F3CF3E; margin-right:1%;"(click) = "movePanel($event)">Left </button>
        <button class = "w-20 h-20"  style = "background-color: #6F263D; color:#F3CF3E;"(click)="getSolarPosition()" >Reset</button>
        <button class = "w-20 h-20" [disabled] = "isDisabled"style = "background-color: #6F263D; color:#F3CF3E; margin-left:1%;" (click) = "movePanel($event)" >Right </button>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col class = "flex justify-center items-center">
        <button class = "w-20 h-20" [disabled] = "isDisabled" style = "background-color: #6F263D; color:#F3CF3E;" (click) = "movePanel($event)">Down</button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <br><br><br><br>

    
  <div class = "bg-white-900 text-3xl text-black" style ="position:center;">
    Frequently Asked Questions
  </div> 
  <!-- The drop down menu -->
  <div class = "flex flex-col items-center" style = "border:black; margin-left:5%; margin-right:5%; margin-bottom: 10%; border:1px solid black; background-color: #6F263D;">
  <ion-row class="ion-margin-top" style = "display:flex; justify-content:center;  ">
    <ion-col size="12">
      <button ion-button full round (click)="ngIfCtrl1()" class="text-amber-900 hover:bg-neutral-50 bg-amber-400 h-12 px-6 rounded-xl" style="font-weight:bold;">What is an Azimuth Diagram?</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hide1" class="ion-margin-top">
    <ion-col size="12" style = "padding:10px;">
      <ion-label class="text-amber-50" style = "background-color: #6F263D;">An azimuth is the angular measurement in a spherical coordinate system which represents the horizontal angle from a cardinal direction.</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12">
      <button ion-button full round (click)="ngIfCtrl2()" class="text-amber-900 hover:bg-neutral-50 bg-amber-400 h-12 px-6 rounded-xl" style="font-weight:bold;">How to read it</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hide2" class="ion-margin-top">
    <ion-col size="12" style = "padding:10px;">
      <ion-label class="text-amber-50" style = "background-color: #6F263D;">The sphere is the sun and the yellow line is the way the sun is going</ion-label>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12">
      <button ion-button full round (click)="ngIfCtrl3()" class="text-amber-900 hover:bg-neutral-50 bg-amber-400 h-12 px-6 rounded-xl" style="font-weight:bold;">What this map mean</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hide3" class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12" style = "padding:10px;">
      <ion-label class="text-amber-50" style = "background-color: #6F263D;">This map shows the solar panel system located at Bloomsburg University between Ben Franklin Hall and Hartline Science Center, <br> which is also right off of Laubach Drive. This shows you where the sun is at the current time.</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12">
      <button ion-button full round (click)="ngIfCtrl4()" class="text-amber-900 hover:bg-neutral-50 bg-amber-400 h-12 px-6 rounded-xl" style="font-weight:bold;">How to move</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hide4" class="ion-margin-top" style="display: flex; justify-content: center;">
    <ion-col size="12" style = "padding:10px;">
      <ion-label class="text-amber-50" style = "background-color: #6F263D;">To move the solar panel just click the button the direction that you want to move it to. The solar panel will then move in that direction.</ion-label>
    </ion-col>
  </ion-row>

  </div>

  <footer style = "margin-top: auto; text-align: center; color: red; background: #6F263D; height: 9%; color:#F3CF3E; margin-top:2%; padding-top:1%;">

    <div class = "social-media">
      <div class = "grid-item"> <a href = "https://www.facebook.com"> Facebook </a> </div>
      <div class = "grid-item">Instgram </div>
      <div class = "grid-item">Twitter </div>
      <div class = "grid-item">LinkedIn </div>
    </div>
    <br>

    <div class = "grid-container">
      <div class = "grid-item">Contact Us </div>
      <div class = "grid-item">About Us </div>
      <div class = "grid-item">The story </div>
      <div class = "grid-item">The History </div>
      <div class = "grid-item">Status </div>
      <div class = "grid-item">News </div>
    </div>
  </footer>

  <style>

    .social-media{
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap:2px;
    }

    .grid-container{
      display: grid;
      grid-template-columns: auto auto;
    }
    .grid-item{
      background-color: #6F263D;
      padding: 2px;
      text-align: center;
    }



    .topnav{
      overflow:hidden;
      background-color: #6F263D;
      height: 4%;
    }

    .topnav a{
      float: center;
      color: #F3CF3E;
      text-align: left;
      padding-left: 3%;
      padding-top: 30%;
      margin-top:4%;
      font-size: 17px;
    }

    .topnav a.active {
      background-color: #04A6D;
      color: white;
    }

    #azimuth-canvas{
      border:black;
      border-style:solid;
    }

    #elevation-canvas{
      border:black;
      border-style:solid;
    }

  </style>
</ion-content>

