<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>instantPower</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">instantPower</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class = "topnav">
    <a class = "active" href ="#home">Home</a>
    <a href = "move-solar-panel.page.html">Move Solar Panel</a>
    <a href = "view-graph.page.html">View Graph</a>
    <a href = "">About</a>
    <a href = "">Contact</a>
    <a href = "">Sign In / Logout</a>
  </div>


  <p style = "color:black;">
    Here is instant power of the two soloar panels.
  </p>

  <ion-grid>
    <ion-row>

      <ion-col>
        <div> Solar Panel 1</div>
      </ion-col>
      <ion-col>
        <div> Watts of Solar Panel 1 </div>
      </ion-col>
      <ion-col>
        <div> Solar Panel 2</div>
      </ion-col>
      <ion-col>
        <div> Watts of Solar Panel 2 </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <div> 80 - 100 Watts</div>
      </ion-col>
      <ion-col>
        <canvas></canvas>
      </ion-col>
      <ion-col>
        <div>80 - 100 Watts</div>
      </ion-col>
      <ion-col>
        <div> </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div> 60 - 80 Watts</div>
      </ion-col>
      <ion-col>
        <canvas></canvas>
      </ion-col>
      <ion-col>
        <div>60 - 80 Watts</div>
      </ion-col>
      <ion-col>
        <div> </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div> 40 - 60 Watts</div>
      </ion-col>
      <ion-col>
        <canvas></canvas>
      </ion-col>
      <ion-col>
        <div>40 - 60 Watts</div>
      </ion-col>
      <ion-col>
        <div> </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div> 20 - 40 Watts</div>
      </ion-col>
      <ion-col>
        <canvas></canvas>
      </ion-col>
      <ion-col>
        <div>20 - 40 Watts</div>
      </ion-col>
      <ion-col>
        <canvas></canvas>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div> 0 - 20 Watts</div>
      </ion-col>
      <ion-col>
        <canvas></canvas>
      </ion-col>
      <ion-col>
        <div>0 - 20 Watts</div>
      </ion-col>
      <ion-col>
        <canvas></canvas>
      </ion-col>
    </ion-row>


  </ion-grid>

  <style>
    canvas{
      width: 100px; 
      height: 100px; 
      border-radius: 50%; 
      background-color: red;     
      background: radial-gradient(circle at 30% 50%, #ff0000 0%, #800000 80%); 
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    div{
      color:black;
    }
  </style>

  
  <footer style = "margin-top: auto; text-align: center; color: red; background: #6F263D; height: 9%; color:#F3CF3E; margin-top:2%; padding-top:1%;">

    <div class = "social-media">
      <div class = "grid-item"> <a href = "https://www.facebook.com"> Facebook </a> </div>
      <div class = "grid-item">Instgram </div>
      <div class = "grid-item">Twitter </div>
      <div class = "grid-item">LinkedIn </div>
    </div>
    <br>

    <div class = "grid-container">
      <div class = "grid-item">Contact Us </div>
      <div class = "grid-item">About Us </div>
      <div class = "grid-item">The story </div>
      <div class = "grid-item">The History </div>
      <div class = "grid-item">Status </div>
      <div class = "grid-item">News </div>
    </div>
  </footer>

 

</ion-content>
