<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Charts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class = "topnav">
    <a class = "active" href ="#home">Home</a>
    <a href = "move-solar-panel.page.html">Move Solar Panel</a>
    <a href = "view-graph.page.html">View Graph</a>
    <a href = "">About</a>
    <a href = "">Contact</a>
    <a href = "">Sign In / Logout</a>
  </div>

  <p style = "color:black; padding-top:5%; padding-bottom:5%; text-align:center; font-size:32px;">
    Presenting the real-time power and energy data for both solar panels.
  </p>

  <div class="ion-padding;" style="color:black; justify-content:center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div> Solar Panel 1 <canvas id="solarPanelOneBar"></canvas></div>
        </ion-col>
        <ion-col>
          <div> Solar Panel 1 <canvas id="solarPanelOneLine"></canvas></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div> Solar Panel 2 <canvas id="solarPanelTwoBar"></canvas></div>
        </ion-col>
        <ion-col>
          <div> Solar Panel 2 <canvas id="SolarPanelTwoLine"></canvas></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <footer>

    <div class = "social-media">
      <div class = "grid-item"> <a href = "https://www.facebook.com"> Facebook </a> </div>
      <div class = "grid-item">Instgram </div>
      <div class = "grid-item">Twitter </div>
      <div class = "grid-item">LinkedIn </div>
    </div>
    <br>

    <div class = "grid-container">
      <div class = "grid-item">Contact Us </div>
      <div class = "grid-item">About Us </div>
      <div class = "grid-item">The story </div>
      <div class = "grid-item">The History </div>
      <div class = "grid-item">Status </div>
      <div class = "grid-item">News </div>
    </div>
  </footer>

</ion-content>

<style>
  .chart-column {
    max-width: 40%;
  }
  
  canvas {
    postion:relative;
    max-width: 80%;
    height: auto;
  }
  
</style>

