<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CMSC 480 Project Template
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CMSC 480 Project Template</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="bg-slate-600 rounded mx-auto max-w-[50%]">
    <strong>This is what an Ionic App w/ Angular looks like!</strong>
    <p>Here is a link to the <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">docs</a>.</p>
    <p>{{ host }}</p>
  </div>
</ion-content>
