<!--
  The Home page, this is the first page the user views when going to the webpage.
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>



  <!-- The title of the website. -->
  <div class = "grid grid-flow-row-dense sm:grid-cols-6 sm:grid-rows-2  h-48">
    <p style = "color:#FACC15; background:#652540;text-align:center;  " 
    class = "sm:text-xs sm:h-24 col-span-6"
    
    >Bloomsburg University Solar Tracker </p>
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-xl col-span-3">Login</button>
    <ion-button class = "btn-changePage col-span-3" [routerLink] = "['/demodev']">Demo</ion-button>
  </div>
  
  <!-- An explication of the webpage -->
  <div class="sm:text-sm md:text-lg lg:text-3xl xl:text-4xl bg-teal-50 text-black flex flex-row justify-center items-center min-w-18 mx-20%" style = "margin:5%; padding-left:20px; border:black; border-style:solid;border-thickness:1px;">
    Welcome to the Solar Tracker. Here is where you can learn how the position of the solar panel depends on how much energy it is getting. There are two solar panels, the one follows the direction of the
    sun, so it gets the most optimal amount of power. The other solar panel is controlled for user use.
</div>

  <!-- Will hold the following button that will take to a new page:
    View Graphs
    Move Solar Panel
    Azimuth Diagram
  -->
  <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-1">
    <ion-button class="btn-changePage sm:w-full sm:h-32 md:w-full md:h-48 lg:h-64" style = "padding-left:2%; padding-right:2%;" [routerLink]="['/view-graph']">View Graphs</ion-button>
    <ion-button class="btn-changePage sm:w-full sm:h-32 md:w-full md:h-48 lg:h-64" style = "padding-left:2%; padding-right:2%;" [routerLink]="['/instant-power']">Instant Power</ion-button>
    <ion-button class="btn-changePage sm:w-full sm:h-32 md:w-full md:h-48 lg:h-64" style = "padding-left:2%; padding-right:2%;" [routerLink]="['/move-solar-panel']">Move Solar Panel</ion-button>
</div>


  <!--
    Holds information to view the following:
      High/Low temp
      Rain
      Watts
      Wind
    This information will be displayed in the labels. With buttons to view current/hour/day/week/month
  -->

  <!-- Make this dynamic -->
  <div class = "text-5xl text-slate-950" style = "padding-top: 2%;">
    Past 7-days 
  </div> 

  <div class = 
  "
  grid grid flow-row-dense 
  sm:grid-cols-1 sm:grid-rows-4 sm:h-60 
  
  
  " 
  style="padding:8px; margin:2px">

    <div class = "border-solid border-2 border-amber-500"> 
      <p class = "text-center text-bold text-slate-950 sm:text-sm md:text-base lg:text-lg
      ">
        Temperature
        <br> <br>
        High: 60F <br>
        Low: 24F
      </p> 
    </div>

    <div class = "border-solid border-2 border-amber-500"> 
      <p class = "text-center text-bold text-slate-950">
        Total Rain Fall
        <br> <br>
        5-inches <br>
      </p> 
    </div>  

    <div class = "border-solid border-2 border-amber-500">
      <p class = "text-center text-bold text-slate-950">
        Solar Panel Power
        <br> <br>
        Max: 43 W <br>
        Low: 23 W
      </p> 
    </div>  

   <div class = "border-solid border-2 border-amber-500">
     <p class = "text-center text-bold text-slate-950">
      Wind Speed
      <br> <br>
      Max: 14 MPH <br>
      Avg: 2 MPH
    </p> 
   </div>
  </div>  

  <!-- Put this all into a button grid -->
  <div class="grid grid-cols-6 grid-rows-3" style="padding: 8px; margin: 2px">
    <button class="btn-home-page-arrow-button"></button>
  
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"></button>
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"></button>
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"></button>
    <button class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-8 rounded-3xl position-absolute" style="top: 50%; left: 50%;"></button>

    <button class="btn-home-page-arrow-button">{{leftArrow}}</button>


  </div>
  <br> <br><br>

  <footer>

    <div class = "social-media">
      <div class = "grid-item"> <a href = "https://www.facebook.com"> Facebook </a> </div>
      <div class = "grid-item">Instagram </div>
      <div class = "grid-item">Twitter </div>
      <div class = "grid-item">LinkedIn </div>
    </div>
    <br>

    <div class = "grid-container">
      <div class = "grid-item">Contact Us </div>
      <div class = "grid-item">About Us </div>
      <div class = "grid-item">The story </div>
      <div class = "grid-item">The History </div>
      <div class = "grid-item">Status </div>
      <div class = "grid-item">News </div>
    </div>
  </footer>
</ion-content>


